<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="ihsinformatics.com.hydra_mobile">

    <uses-permission
            android:name="android.permission.ACCESS_FINE_LOCATION"
            android:required="true"/>
    <uses-permission
            android:name="android.permission.INTERNET"
            android:required="true"/>
    <uses-permission
            android:name="android.permission.ACCESS_NETWORK_STATE"
            android:required="true"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <application
            android:name=".HydraApp"
            android:allowBackup="true"

            android:icon="@mipmap/ic_launcher_logo"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true" tools:replace="android:allowBackup,android:name">
        <activity android:name=".widgets.SingleSelect">
        </activity>
        <activity android:name=".forms.BaseFormActivity">
        </activity>
        <activity android:name=".forms.EndFollowUp">
        </activity>
        <activity
                android:name=".ui.activity.SelectWorkFlow"
                android:theme="@style/PrefDialogTheme">
        </activity>
        <activity
                android:name=".ui.activity.ProfileActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.HelpActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.FormsActivity"
                android:label="@string/title_activity_patient_information"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".ui.activity.ExpandedFormsActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".ui.activity.EventsActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.ReportActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.SearchActivity"
                android:label="@string/title_activity_search"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.NotificationActivity"
                android:label="@string/title_activity_notification"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.HomeActivity"
                android:label="@string/title_activity_main_menu"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name=".ui.activity.SplashActivity"
                android:theme="@style/AppTheme.HideStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.activity.LoginActivity"
                android:theme="@style/AppTheme.HideStatusBar"
                android:windowSoftInputMode="stateHidden">
        </activity>
    </application>

</manifest>